#Copy below to .env file with actual crednetials;
#For ease of use, actual credentials are provided here.
#The syntax is USERNAME_PASSWORD; with username changing as per the user in user.properties file
JOHN_PASS=demo
